@import '~antd/dist/antd.dark.css';

.App {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.ant-pagination {
  margin-top: 20px;
  margin-bottom: 28px;
}
.ant-pagination-options {
  display: none;
}
